* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/colorful-pastel-fluffy-cotton-candy-background-soft-color-sweet-candyfloss-abstract-blur_44651-198.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.grid {
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(27, 27, 27, 1);  
}

div.grid-item {
  width: 50px;
  height: 50px;
  border: 1px dashed dodgerblue;
}

div.grid-item.player {
  background-image: url('../assets/lisa.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.alien {
  background-image: url('../assets/bart_alienalien.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

div.grid-item.shoot {
  background-image: url('../assets/blue-fire-transparent-pic-13.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.bomb {
  background-image: url('../assets/Simpsons-Donut-Transparent-Free-PNG.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.start-screen, .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 180, 242, 0.5); */
  background-color: rgba(27, 27, 27, 1);  
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.first-modal-content, .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(27, 27, 27, 1);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-text {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 5px;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 5px;
}

.main-title {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align: center;
  color: rgba(27, 27, 27, 1);  
  margin: 25px;
}

.dash-line {
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  text-align: center;

}

li {
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
}

.button-class, .restart-button-class {
  display: flex;
  justify-content: center;
}

button {
  color:rgba(27, 27, 27, 1);
  font-family: 'Bungee', cursive;
  background-color: white;
  font-size: 20px;
  text-align: center;
  padding: 8px 8px;
  margin: 8px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.button-class:hover {
  animation: pulse 1s;
}

h3 {
  color: rgba(27, 27, 27, 1);  
  font-family: 'Bungee', cursive;
  font-size: 20px;
  margin: 5px;
}

.hi-score {
  color: rgba(27, 27, 27, 1);  
  font-family: 'Bungee', cursive;
  font-size: 20px;
  margin: 5px;
}

.main-wrapper {
  flex-grow: 1;
  display: flex;
}

.grid-wrapper {
  flex: 3;
}

h2 {
  color: rgba(27, 27, 27, 1);  
  font-family: 'Bungee', cursive;
  font-size: 20px;
  flex-direction: column;
}

.leader-board-wrapper {
  margin: 0px 20px;
  height: 50px;
}

.leader-board {
  border: 2px dashed dodgerblue;
}